openapi: 3.2.0
info:
  title: V1 Topics API
  version: v1
servers:
- url: https://api.airops.com
  variables:
    defaultHost:
      default: api.airops.com
tags:
- name: Topics
  x-parent: Brand Kits
paths:
  /public_api/brand_kits/{brand_kit_id}/topics/list:
    post:
      summary: List Topics
      description: Topics are the categories of questions that can be asked about a Brand Kit. They are used to group questions together and to create a taxonomy of questions.
      tags:
      - Topics
      operationId: listBrandKitsTopics
      security:
      - bearer: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type:
                          - integer
                          - 'null'
                          description: Unique identifier for the topic
                        name:
                          type:
                          - string
                          - 'null'
                          description: The topic name
                        color:
                          type:
                          - string
                          - 'null'
                          description: The topic color (hex code)
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      total_pages:
                        type: integer
                required:
                - data
                - meta
        '400':
          description: Bad request - invalid parameters, filters, or sort options
        '401':
          description: Unauthorized - invalid or missing authentication token
        '404':
          description: Not found - resource does not exist
        '412':
          description: Precondition failed - AEO not configured for this brand kit
      parameters:
      - name: brand_kit_id
        in: path
        required: true
        schema:
          type: integer
        description: The Brand Kit ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brand_kit_id:
                  type: integer
                  description: The ID of the Brand Kit
                filters:
                  type: array
                  description: 'Filter results. Nested fields (e.g. `writing_rules.text`) filter within an included association and require that association in `includes`.


                    **Available fields:**

                    - **name** (EQUALS, CONTAINS): Filter by topic name'
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        enum:
                        - name
                        description: 'Field to filter on. name: Filter by topic name'
                      operator:
                        type: string
                        enum:
                        - EQUALS
                        - CONTAINS
                        description: 'Filter operator.


                          - **EQ/EQUALS**: Exact match

                          - **NEQ**: Not equal

                          - **GT/GEQ/LT/LEQ**: Numeric/date comparisons

                          - **CONTAINS**: Partial text match

                          - **STARTS_WITH**: Text prefix match

                          - **IN**: Match any value in array

                          - **HAS_ALL**: (tags filter) match only items having every listed value

                          - **NOT_IN**: (tags filter) match only items having none of the listed values'
                      value:
                        description: Filter value (type depends on field and operator)
                    required:
                    - field
                    - operator
                    - value
                fields:
                  type: array
                  description: 'Select additional fields to return.


                    **Optional fields:**

                    - **id**: Unique identifier for the topic

                    - **name**: The topic name

                    - **color**: The topic color (hex code)'
                  items:
                    type: string
                    enum:
                    - id
                    - name
                    - color
                sort:
                  type: string
                  enum:
                  - name
                  - -name
                  - created_at
                  - -created_at
                  description: 'Sort field. Prefix with - for descending.


                    **Available sort fields:**

                    - **name/-name**: Sort alphabetically by topic name

                    - **created_at/-created_at**: Sort by creation date'
                page:
                  type: integer
                  default: 1
                  description: Page number
                per_page:
                  type: integer
                  default: 25
                  maximum: 100
                  description: Items per page
              required:
              - brand_kit_id
  /public_api/brand_kits/{brand_kit_id}/topics/{id}:
    get:
      summary: Get Topic
      description: Topics are the categories of questions that can be asked about a Brand Kit. They are used to group questions together and to create a taxonomy of questions.
      tags:
      - Topics
      operationId: getBrandKitsTopic
      security:
      - bearer: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type:
                        - integer
                        - 'null'
                        description: Unique identifier for the topic
                      name:
                        type:
                        - string
                        - 'null'
                        description: The topic name
                      color:
                        type:
                        - string
                        - 'null'
                        description: The topic color (hex code)
                required:
                - data
        '400':
          description: Bad request - invalid parameters, filters, or sort options
        '401':
          description: Unauthorized - invalid or missing authentication token
        '404':
          description: Not found - resource does not exist
        '412':
          description: Precondition failed - AEO not configured for this brand kit
      parameters:
      - name: brand_kit_id
        in: path
        required: true
        schema:
          type: integer
        description: The Brand Kit ID
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The resource ID
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
