openapi: 3.2.0
info:
  title: V1 Files API
  version: v1
  description: Endpoints for managing workspace files.
servers:
- url: https://api.airops.com
  variables:
    defaultHost:
      default: api.airops.com
tags:
- name: Files
  description: Endpoints for managing workspace files.
paths:
  /public_api/workspace_files:
    post:
      summary: Upload
      description: ' This endpoint allows you to upload a file to the workspace.

        You can use this endpoint to upload a file and get the id of the file to use as an input in an app. '
      operationId: workspaceFileUpload
      tags:
      - Files
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 23
                    description: The id of the file, you can use this id as an app's input
                  created_at:
                    type: string
                    format: date-time
                    example: 2023-06-20 00:49:56.696000+00:00
                  updated_at:
                    type: string
                    format: date-time
                    example: 2023-10-24 11:26:21.820000+00:00
              example:
                id: 23
                created_at: 2023-06-20 00:49:56.696000+00:00
                updated_at: 2023-10-24 11:26:21.820000+00:00
        '401':
          description: Authentication error'
      security:
      - bearer: []
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
